* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  /* background-color: #151424; */
  /* opacity: 0.7; */
  background-color: rgba(21,20,36, 0.85);
  color: white;
  font-size: 1.1rem;
  z-index: -1;
}

.flex-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin: 8px 0;
}

textarea {
  resize: vertical;
  border-radius: 3px;
  /* background-color: white; */
  z-index: 1000;
}

/* .flex-item:nth-child(3) {
  align-self: center;
} */

#categoryInput {
  display: flex;
}

.item-1 h4 {
  color: red;
}

.item-2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.item-2 div {
  /* margin-top: 3px; */
  margin-right: 10px;
}
.item-2 .ok-btn{
  margin-left: 5px;
}
#categoryInput input {
  margin-bottom: -4px;
}

#name {
  outline: none;
}
#content {
  margin-top: 5px;
}

/* #save-btn,
#append-btn,
#search-btn {
  padding: 4px 11px;
  border: none;
  border-radius: 3px;
  background-color: #0f69ff;
  color: white;
  cursor: pointer;
} */

#userQueryInput {
  margin-left: 15px;
  border-radius: 5px;
  line-height: 1.2rem;
}
#buttons {
  align-self: center;
}

#Ok,
#categoryButton {
  padding: 4px 11px;
  border: none;
  border-radius: 3px;
  background-color: #0f69ff;
  color: white;
  cursor: pointer;
}
